<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="yl.bigdata.doristask.mapper.DorisMapper">

    <select id="query" resultType="Integer">
        select count(*) from tmp.dws_network_reach_rate;
    </select>

    <insert id="insert" parameterType="yl.bigdata.doristask.entity.DorisLoadTask">
         insert into Dorisloadtask(creat_time, statues, loadinfo, lable, start_time, end_time, finish_time,time_out
        )
        values (#{creat_time}, #{statues}, #{loadinfo}, #{lable}, #{start_time},  #{end_time}, #{finish_time}, #{time_out},
        )
    </insert>

    <select id="selectDorisloadtaskAll" resultType="dorisloadtask">
        select * from tmp.Doris_loadtask;
    </select>

    <select id="queryDorisloadtaskByLable" resultType="dorisloadtask">
        select * from tmp.Doris_loadtask where lable =#{value};
    </select>

</mapper>